body {
    margin: 0;
    font-family: "SF Pro Display", sans-serif;
    line-height: 1.42857143;
}

p {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

a {
    color: #428bca;
    /*color: #069 !important;*/
    text-decoration: none
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li::before {
    content: "-";
    margin-right: 10px;
    margin-left: -10px;
}

li {
    font-size: 18px;
    line-height: 25px;
    margin: 10px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.hr-bold-crimson {
    border-top: 2px solid rgb(153, 39, 49);
}

h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 500
}

.nav-bar {
    background-color: rgb(153, 39, 49);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  /* this will make the items wrap onto multiple lines */
    flex-basis: 50%;
    box-sizing: border-box;
    min-height: 54px;  /* this will make the bar wrap onto multiple lines */
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.nav-ref {
    background-color: rgb(153, 39, 49);
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
    padding: 14px 20px;
}

.nav-ref:hover {
    background-color: rgb(221, 221, 221);
    color: black;
    text-decoration: underline black;
    border-radius: 1px;
}

/* center the section after jumping as desired */
#about {
    scroll-margin-top: 20vh; /* 50vh for center */
}
#publications {
    scroll-margin-top: 20vh;
}
#teaching {
    scroll-margin-top: 20vh;
}
#awards {
    scroll-margin-top: 20vh;
}

/* main text body container */
.container {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 750px;
    margin: 50px auto;
    padding-left: 15px;
    padding-right: 15px;
    text-size-adjust: auto;
}

/* for the introduction part */
.info-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
    text-size-adjust: auto;
    -webkit-text-size-adjust: auto;
}

.info-left {
    flex: 1;
    /*background-color: lightblue;*/
    margin-right: 30px;
    /*margin-left: 10px;*/
}

.info-left img {
    max-width: 100%;
    height: auto;
}

.info-right {
    flex: 2;
    /*background-color: lightgreen;*/
}

/* media query for smaller screens */
@media (max-width: 768px) {
    .info-left, .info-right {
        flex: 0 0 100%;
    }

    .info-left img {
        max-width: 300px;
    }
}

/* for the pronunciation part */
.expandable-container {
    margin-top: -15px;
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    overflow: hidden;
}

.expandable-header {
    padding: 5px 10px 20px 0;
    /*cursor: pointer;*/
}

.expandable-content {
    margin-bottom: 20px;
    padding: 10px;
    display: none; /* hide content by default */
}

/* add a transition for smooth expansion */
.content {
    transition: max-height 0.1s ease-out;
    max-height: 0;
    overflow: hidden;
}

.expandable-content.show {
    display: block;
    max-height: 1000px; /* increase this value for a longer content */
}

/* style the publication list */
.paper {
    margin-bottom: 20px;
    border-left: 3px solid #bbb;
}

.paper .title {
    /* customize the title line of the article, e.g., bold, etc. */
    /*font-weight: bold;*/
    display:  block;
    font-size: 20px;
    line-height: 25px;
    margin: 10px 10px 4px;
    color: #222;
    /*font-family: "Harding-bold";*/
    /*font-family: "Frame";*/
    font-weight: 700;

    text-decoration: underline;
}

.paper .title:hover {
    text-decoration-thickness: 4px;
}

.paper .authors {
    font-size: 18px;
    line-height: 25px;
    margin: 2px 10px;
    color: #666;
}

.paper .journal {
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.paper .link {
    display: inline-block;
    font-size: 18px;
    /*color: black;*/
    /*color: #428bca;*/
    color: #069;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 0 25px;
    line-height: 25px;
    /*border: 1px solid #428bca;*/
    border: 1px solid #069;
    border-radius: 5px;
}

.paper .link:hover {
    font-style: normal;
    text-decoration: none;
    color: white;
    /*background: #428bca;*/
    background: #069;
    /*border: 1px solid #428bca;*/
    border: 1px solid #069;
}

.paper .meta {
    display: inline-block;
    font-size: 18px;
    /*color: black;*/
    /*color: #428bca;*/
    color: #069 !important;
    text-decoration-color: #069 !important;
    height: 25px;
    /*margin-left: 10px;*/
    margin-bottom: 5px;
    padding: 0 25px 0 10px;
    line-height: 25px;
    /*margin: 0;*/
    /*border: 1px solid #428bca;*/
    /*border: 1px solid #069;*/
    /*border-radius: 5px;*/
}

.paper .meta a {
    position: relative;
    padding: 0 10px;
    text-decoration: underline;
    color: #069 !important;
    text-decoration-color: #069 !important;
}

.paper .meta a:hover {
    /*background: #069 !important;*/
    text-decoration-color: #cc4b14 !important;
    color: #cc4b14 !important;
}

.paper .meta a:first-child {
    padding-left: 0;
}

.paper .meta a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 1.5px;               /* line thickness */
    background-color: #ccc;   /* line color */
    height: 110%;              /* adjust to look balanced */
    margin: auto;             /* centers the line vertically */
}

/* bottom bar */
.bottom-bar {
    background-color: rgb(153, 39, 49);
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex; /* use flexbox */
    flex-wrap: wrap;
    justify-content: center; /* center the items */
    font-size: 14px;
}

.bottom-bar table {
    color: white;
}

/* media query for smaller screens */
@media (max-width: 768px) {
    .bottom-bar-table {
        flex: 0 0 100%;
    }
}

.bottom-bar span {
    margin-left: 5px;
}

/* style the definition list */
dl.definition-list {
    display: block;
    margin: 0 0 20px 0;
    color: black;
}

dl.definition-list dt {
    float: left;
    /*height: 40px;*/
    font-size: 18px;
    padding: 5px 0;
}

dl.definition-list dd {
    float: none;
    font-size: 18px;
    /*height: 40px;*/
    margin-left: 150px;

    padding: 5px 0;
}

/* style a second definition list */
dl.grading-detail {
    display: block;
    margin: 0;
    color: black;
}

dl.grading-detail dt {
    float: left;
    font-size: 18px;
    padding: 5px 0;
}

dl.grading-detail dd {
    float: none;
    font-size: 18px;
    margin-left: 75px;
    padding: 5px 0;
    border-bottom: 1px solid #e0e3e5;
}

/* style the table */
.schedule-table {
    border-collapse: collapse;
    width: 100%;
}
.schedule-table th, .schedule-table td {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 8px;
    text-align: left;
}
.schedule-table th {
    background-color: #f2f2f2;
}
.schedule-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.schedule-table tr:nth-child(odd) {
    background-color: #ffffff;
}

.styled-label {
    font-size: 16px;
    display: inline-block;
    color: white;
    padding: 0 12px;
    border-radius: 4px;
}
